/**********BETTER BALLOONS************/

@import url(http://fonts.googleapis.com/css?family=Nova+Square);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

html{
  height:100%;
  }
.mike{
  margin:0;
  padding:0;
  text-align:center;
  }
body{
  background-image:url('images/bg.jpg');
  background-repeat:no-repeat;
  background-size:100% 100%;
	}
body, td, pre {
  color: #000000;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 10px;
}

p{
  font-size:13px;
  }
/**************SIDEBAR******************/
#sidebar{
  background-image:url('images/sidebar.png');
  margin:-100px 0 0 0;
  height:100%;
  width:200px;
  text-align:left;
  position:fixed;
  }
#sidebar h1{
  margin:-60px 10px 0;
  font-family:'Nova Square', sans-serif;
  font-size:24px;
  color:#FFFFFF;
  }
#sidebar p{
  margin:10px;
  font-family:'Lato', sans-serif;
  color:#FFFFFF;
  }
#play{
  margin:20px 0 0 10px;
  }
#sidebar a{
  color:#F1F1F1;
  text-decoration:none;
}
#sidebar a:hover{
  font-weight:bold;
  }
/**************EDITOR*****************/
#editor{
  margin:100px auto 0 auto;
  width:506px;
  height:600px;
  position: relative;
  }
#content_tbl{
  width:506px !important;
  }
#preview{
  cursor:pointer;
  position:absolute;
  top:50px;
  right:5px;
  }
#github{
  position:absolute;
  right:30px;
  bottom:0;
  }
/**************BALLOON*****************/
#balloon {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #ABABAB;
  display: inline-block;
  margin:100px auto;
  padding: 10px 10px 20px;
  position:relative;
  text-align:left;
  max-width:506px;
  }
#balloon_wrap{
  max-height:400px;
  overflow:auto;
  }
.rounded-corners {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
	}
#triangle{
	position:absolute;
	left:50px;
	bottom:-50px;
	}
